@charset "UTF-8";

.content .nav {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  text-align: center;
  background-color: #eee;
}
.nav a {
  display: block;
  float: left;
  color: #666;
  font-size: 12px;
  width: 25%;
}

.nav a.now {
  color: orange;
}